
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Agent"))
{

   <fieldset>
       <legend>Opret agent</legend>

       <div>
           @Html.Label("Name")
       </div>
       <div>
           @Html.Editor("txtName")
       </div>
       <div>
           @Html.Label("Phone")
       </div>
       <div>
           @Html.Editor("txtPhone")
       </div>
       <div>
           @Html.Label("Campaign")
       </div>
       <div>

       </div>
       <br />

       <input type="submit" value="Save agent" />
   </fieldset>
}

